* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    color: #655A56;
    background-image: linear-gradient(to right bottom, #cd7983, #9f142e);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; }
@media only screen and (max-width: 68.75em) {
    html {
        font-size: 50%; } }